<html lang="en">
    <head>
        <title>No Encontrada</title>
    </head>
    <body>
        <div class="container-fluid" >
            {% load static %}
            <img style="width: 100%; height: 100%;" src="{% static 'imgs/imgerror404.png' %}" />
        </div>
    </body>
</html>