{% extends 'base.html' %}
{% block content %}
<html lang="en">
    <head>
        <title>Categoria</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 col-xs-1 col-sm-1"></div>
                <div class="col-md-10 col-xs-10 col-sm-10">
                    <h3 class="round3" style="text-align:center;">Categoria</h3>
                </div>
                <div class="col-md-1 col-xs-1 col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-md-10 col-xs-10 col-sm-10"></div>
                <div class="col-md-2 col-xs-1 col-sm-1" style="width: 100%;">
                    <br />
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Nuevo
                    </button>
                </div>
            </div>
            <br />
            {% for categoria in categoria_list %}
            <div class="row">
                <div class="col-md-1 col-xs-1 col-sm-1"></div>
                <div class="col-md-7 col-xs-7 col-sm-7">
                    <ul class="list-group">
                        <li class="list-group-item ">
                            <a href="{% url 'detailcategoria' categoria.pk %}"> {{ categoria.catnom }} </a> <span class="badge"></span>
                        </li>
                    </ul>
                    <br>
                </div>
                <div class="col-md-1 col-xs-1 col-sm-1">
                    <a href="{% url 'detailcategoria' categoria.pk %}">
                        <button type="button" class="btn btn-info">
                            <span class="glyphicon glyphicon-open">Ver</span>
                        </button>
                    </a>
                </div>
                <div class="col-md-1">
                    <a href="{% url 'editcategoria' categoria.pk %}">
                        <button type="button" class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">Editar</span>
                        </button>
                    </a>
                </div>
                <div class="col-md-1">
                    <a href="{% url 'deletecategoria' categoria.pk %}">
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash">Eliminar</span>
                        </button>
                    </a>
                </div>
                <div class="col-md-1 col-xs-1 col-sm-1"></div>
            </div>
            {% endfor %}
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nueva Categoria</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="formCategoria" class="row g-3 needs-validation" action="{%  url 'ccategoria' %}" method="POST">
                            <div class="modal-body">                            
                                <div class="mb-3">
                                    <label for="catnom" class="form-label">Categoria Nombre: &nbsp; </label>
                                    <div class="input-group">
                                        <input type="text" id="catnom" value="" name="catnom" maxlength="250" class="form-control" required/>
                                    </div>
                                </div>                                      
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" id="btnguardar" class="btn btn-primary">Guardar</button>
                        </form>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}