{% extends 'base.html' %}
{% block content %}
<html lang="en">
    <head>
        <title>Clientes</title>        
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 col-xs-1 col-sm-1"></div>
                <div class="col-md-10 col-xs-10 col-sm-10">
                    <h3 class="round3" style="text-align:center;">Clientes</h3>
                </div>
                <div class="col-md-1 col-xs-1 col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-md-10 col-xs-10 col-sm-10"></div>
                <div class="col-md-2 col-xs-1 col-sm-1" style="width: 80%;">
                    <br />                        
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Nuevo
                    </button>
                </div>
            </div>
            <br />
            {% for cliente in cliente_list %}
            <div class="row">
                <div class="col-md-1 col-xs-1 col-sm-1"></div>
                 <div class="col-md-7 col-xs-7 col-sm-7">
                    <ul class="list-group">
                        <li class="list-group-item ">
                            <a href="{% url 'detail' cliente.pk %}"> {{ cliente.clinombre }} {{cliente.cliapellido}} </a> <span class="badge"></span>
                        </li>
                    </ul>
                    <br>
                </div>
                <div class="col-md-1 col-xs-1 col-sm-1">
                    <a href="{% url 'detail' cliente.pk %}">
                        <button type="button" class="btn btn-info">
                            <span class="glyphicon glyphicon-open">Ver</span>
                        </button>
                    </a>
                </div>
                <div class="col-md-1 col-xs-1 col-sm-1">
                    <a href="{% url 'edit' cliente.pk %}">
                        <button type="button" class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">Editar</span>
                        </button>
                    </a>
                </div>
                <div class="col-md-1 col-xs-1 col-sm-1">
                    <a href="{% url 'delete' cliente.pk %}">
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash">Eliminar</span>
                        </button>
                    </a>
                </div>
                <div class="col-md-1 col-xs-1 col-sm-1"></div>
            </div>
            {% endfor %}
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="formProducto" class="row g-3 needs-validation" action="{%  url 'cclientes' %}" method="POST">
                        <div class="modal-body">                            
                            <div class="mb-3">
                                <label for="cedcli" class="form-label">Cédula Cliente: &nbsp; </label>
                                <div class="input-group">
                                    <input type="text" id="cedcli" name="cedcli" maxlength="20" value="" class="form-control" required/>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="nombrecli" class="form-label">Nombres: &nbsp; </label>
                                <div class="input-group">
                                    <input type="text" id="nombrecli" value="" name="nombrecli" maxlength="250" class="form-control" required/>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="apelcli" class="form-label">Apellidos: &nbsp; </label>
                                <div class="input-group">
                                    <input type="text" id="apelcli" name="apelcli" maxlength="250" class="form-control" required/>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="dircli" class="form-label">Direccion: &nbsp; </label>
                                <div class="input-group">
                                    <input type="text" step="any" id="dircli" name="dircli" maxlength="250" class="form-control" required/>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="telfcli" class="form-label">Telefono: &nbsp; </label>
                                <div class="input-group">
                                    <input type="text" step="any" id="telfcli" name="telfcli" maxlength="250"  class="form-control" required/>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="emailcli" class="form-label">Correo: &nbsp; </label>
                                <div class="input-group">
                                    <input type="text" id="emailcli" name="emailcli" maxlength="250" class="form-control" required/>
                                </div>
                            </div>                            
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" id="btnguardar" class="btn btn-primary">Guardar</button>
                    </form>
                    
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}