{% extends 'base.html' %}
{% block content %}
<html lang="en">
    <head>
        <title>Indice</title>
    </head>
    <body>
        <div class="container-fluid" >
            {% load static %}
            <br><br><br><br><br><br>
            <center>
                <img style="width: 40%; height: 40%;" src="{% static 'imgs/laptops.jpg' %}" />
            </center>>
        </div>
    </body>
</html>
{% endblock %}