<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'login/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'login/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'login/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">

    <title>Login</title>
  </head>
  <body>
  
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <img src="{% static 'imgs/laptops.jpg' %}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3><strong>Sistema Control de Inventarios</strong></h3>
              <p class="mb-4">Por favor, ingrese su usuario y contraseña para ingresar al Sistema Control de Inventario de Computadoras</p>
            </div>
            <form action="{%  url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group first">
                    <label for="usuario">Usuario</label>
                    <input type="text" class="form-control" id="usuario" name="usuario">

                </div>
                <div class="form-group last mb-4">
                    <label for="contrasenia">Contraseña</label>
                    <input type="password" class="form-control" id="contrasenia" name="contrasenia">
                    
                </div>

              <input type="submit" value="Ingresar" class="btn text-white btn-block btn-primary" style="background-color: #808080;border-color: #808080;">
              
            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="{% static 'login/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'login/js/popper.min.js' %}"></script>
    <script src="{% static 'login/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'login/js/main.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementById("usuario").value = "";
            document.getElementById("contrasenia").value = "";
        });
    </script>
  </body>
</html>