{% extends 'base.html' %}
{% block content %}
<html lang="en">
    <head>
        <!-- {% load bootstrap5 %}
        {% bootstrap_css %} -->
        {% load static %}
        <title>Productos</title>
<!--         <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.3/css/select.bootstrap5.min.css"/>  -->
        
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 col-xs-1 col-sm-1"></div>
                <div class="col-md-10 col-xs-10 col-sm-10">
                    <h3 class="round3" style="text-align:center;">Productos</h3>
                </div>
                <div class="col-md-1 col-xs-1 col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-md-10 col-xs-10 col-sm-10"></div>
                <div class="col-md-2 col-xs-1 col-sm-1" style="width: 100%;">
                    <br />
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Nuevo Producto
                    </button>
                    <button type="button" id="expdf" name="expdf" onclick="exportarPDFT()" class="btn btn-secondary">Exportar PDF</button>
                </div>
            </div>
            <br />
            <!-- <button type="button" id="expdf" name="expdf" onclick="exportarPDFT()" class="btn btn-secondary">Exportar PDF</button> -->
            <table id="tblProducto" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Bodega</th>
                        <th>Categoria</th>
                        <th>Cliente</th>
                        <th>Codigo Producto</th>
                        <th>Producto Nombre</th>
                        <th>Cantidad Producto</th>
                        <th>Precio Compra</th>
                        <th>Precio Venta</th>
                        <th>Tipo Producto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                        <tr>
                            <td>{{ producto.bogid.bognombre }}</td>
                            <td>{{ producto.catid.catnom }}</td>
                            <td>{{ producto.clienteid.clicedula }} - {{ producto.clienteid.clinombre }} {{ producto.clienteid.cliapellido }}</td>
                            <td>{{ producto.procodigo }}</td>
                            <td>{{ producto.prodnombre }}</td>
                            <td>{{ producto.prodcantidad }}</td>
                            <td>{{ producto.preciocompra }}</td>
                            <td>{{ producto.preciodeventa }}</td>
                            <td>{{ producto.prodtipo }}</td>
                            <td>
                                <a href="{% url 'deleteproducto' producto.pk %}">
                                    <button type="button" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-trash">Eliminar</span>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Bodega</th>
                        <th>Categoria</th>
                        <th>Cliente</th>
                        <th>Codigo Producto</th>
                        <th>Producto Nombre</th>
                        <th>Cantidad Producto</th>
                        <th>Precio Compra</th>
                        <th>Precio Venta</th>
                        <th>Tipo Producto</th>
                        <th>Acciones</th>
                    </tr>
                </tr>
            </tfoot>
        </table>            
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="formProducto" class="row g-3 needs-validation" action="{%  url 'cproductos' %}" method="POST">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="cliente" class="form-label">Clientes: &nbsp; </label>
                                <div class="input-group">
                                    <select id="cliente" name="cliente"  class="form-control required" style="width: 220px;" required>'
                                        <option value="" selected="selected">--Seleccione--</option>
                                        {% for cliente in clientes %}
                                            <option value="{{ cliente.id }}">{{ cliente.clicedula }} - {{ cliente.clinombre }} {{ cliente.cliapellido }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="bodega" class="form-label">Bodega: &nbsp; </label>
                                <div class="input-group">
                                    <select id="bodega" name="bodega"  class="form-control required" style="width: 220px;" required>'
                                        <option value="" selected="selected">--Seleccione--</option>
                                        {% for bodega in bodegas %}
                                            <option value="{{ bodega.id }}">{{ bodega.bognombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="categoria" class="form-label">Categoria: &nbsp; </label>
                                <div class="input-group">
                                    <select id="categoria" name="categoria"  class="form-control required" style="width: 220px;" required>'
                                        <option value="" selected="selected">--Seleccione--</option>
                                        {% for categoria in categorias %}
                                            <option value="{{ categoria.id }}">{{ categoria.catnom }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="prodcod" class="form-label">Código Producto: &nbsp; </label>
                                <div class="input-group">
                                    <input type="number" id="prodcod" name="prodcod" value="" class="form-control" required/>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="prodnombre" class="form-label">Producto Nombre: &nbsp; </label>
                                <div class="input-group">
                                    <input type="text" id="prodnombre" value="" name="prodnombre" class="form-control" required/>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="prodcant" class="form-label">Producto Cantidad: &nbsp; </label>
                                <div class="input-group">
                                    <input type="number" id="prodcant" name="prodcant" class="form-control" required/>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="preciocomp" class="form-label">Precio Compra: &nbsp; </label>
                                <div class="input-group">
                                    <input type="number" step="any" id="preciocomp" name="preciocomp" class="form-control" required/>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="precioventa" class="form-label">Precio Venta: &nbsp; </label>
                                <div class="input-group">
                                    <input type="number" step="any" id="precioventa" name="precioventa" class="form-control" required/>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="prodtipo" class="form-label">Producto Tipo: &nbsp; </label>
                                <div class="input-group">
                                    <input type="text" id="prodtipo" name="prodtipo" class="form-control" required/>
                                </div>
                            </div>                            
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" id="btnguardar" class="btn btn-primary">Guardar</button>
                    </form>
                    
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
        
        <!-- <script src="{% static 'login/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'login/js/popper.min.js' %}"></script>
        <script src="{% static 'login/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'login/js/main.js' %}"></script> -->
        <script type="text/javascript">
            $(document).ready(function() {                
                $('#tblProducto').DataTable( {
                    select: true
                } );
            } );
            function exportarPDFT() {
                html2canvas(document.getElementById('tblProducto'), {
                    onrendered: function (canvas) {
                        var data = canvas.toDataURL();
                        var docDefinition = {
                            content: [{
                                image: data,
                                width: 500
                            }]
                        };
                        pdfMake.createPdf(docDefinition).download("reporte.pdf");
                    }
                });
            }

        </script>
    </body>
</html>
{% endblock %}